*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF6354;
    font-family: Monospace, sans-serif;
	color: #111;
}

.card_cadastro{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 80vw;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
}

.card_cadastro h2{
    position: relative;
}

.card_cadastro h2::before{
    content: "__";
    position: absolute;
    color: #FF6354;
    padding-top: 5px;
}

.card_cadastro label{
    margin: 10px 0;
}

.card_cadastro input{
    padding: 10px;
    border: none;
    border: 1px solid #FF6354;;
    border-radius: 10px;
}

.card_cadastro button{
    margin: 30px 0 10px;
    padding: 10px;
    border: none;
    background-color: #ff4d4d;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}