*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #4e81c9;
    display: flex;
    flex-direction: column;
    align-items:end;
    height: 100vh;
    color: #111;
    font-family: Arial;
    position: relative;
}

.logo img{
    width: 100px;
    position: fixed;
    top: 0;
    margin-top: 20px;
}   

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    height: 100vw;
    width: 30vw;
    padding: 40px;
    position: relative;
}

.container h1{
    align-self: center;
    margin-bottom: 10px;
}

.container p{
    padding: 10px 0;
    font-size: 20px;
}

.container input{
    border:none;
    border: 1px solid #b3b4b5;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.recuperar{
    display: flex;
    gap: 5px;
    justify-content: end;
    padding-top: 40px;
}

.recuperar a{
    text-decoration: none;
    align-self: center;
}

.recuperar a:hover{
    text-decoration: underline;
}

.botao-confirmar {
    margin: 30px 0 10px;
    padding: 10px;
    border: none;
    background-color: #4e81c9;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.cadastro{
    display: flex;
    justify-content: center;
    border-top: 1px grey;
    padding: 5px;
}

.cadastro p{
    font-size: 14px;
}

.cadastro a{
    text-decoration: none;
}

.icon-align{
    position: relative;
}

#icon {
    position: absolute;
    top: 80%;
    right: -15px;
    color: black;
    transform: translateY(-50%);
    cursor: pointer;
}




